@charset "UTF-8";
/* ! --------------------------------------------------

- errorPage

-------------------------------------------------- */
.p-errorPage {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__head { 
    &__title {
      color: map-get($colors,accent);
      font-size: 120px;
      font-weight: 700;
      line-height: 1em;
      text-align: center;
      @include mq(sp){
        font-size: 100px;
      }
    }
    &__subTitle {
      color: map-get($colors,accent);
      font-size: 40px;
      font-weight: 600;
      line-height: 1em;
      margin: 8px 0 0;
      text-align: center;
      @include mq(sp){
        font-size: 24px;
      }
    }
  }
  &__body {
    margin: 32px 0 0;
    text-align: center;
    &__title {
      font-size: 20px;
      font-weight: 700;
      @include mq(sp){
        font-size: 18px;
      }
    }
    &__description {
      margin: 16px 0 0;
    }
  }
  &__foot {
    margin: 40px 0 0;
  }
}