@charset "UTF-8";
/* ! --------------------------------------------------

- インプット

-------------------------------------------------- */
.c-input {
  display:inline-flex;
  position: relative;
  $c-input: #{&};
  //共通要素
  %common {
    font-size: 13px;
    word-break: break-all;
    height: 32px;
    padding: 0 8px;
    width: 100%;
    border: 1px solid color(formLine);
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:disabled {
      color: map-get($colors,second);
      border-color: map-get($colors,line);
      background: map-get($colors,background);
      pointer-events: none;
    }
  }
  %focus {
    border-color: color(form--high);
    background: color(form--high) + 0a ;
  }
  // プレイスホルダー
  ::-webkit-input-placeholder { color: color(third);}
  :-ms-input-placeholder { color: color(third);}
  ::-moz-placeholder { color: color(third);}
  // -- インプット search number file checkbox radio submit
  input {
    @extend %common;
    &:focus {
      @extend %focus;
    }
  }
  textarea {
    @extend %common;
    padding: 5px 8px;
    resize: none;
    min-height: 120px;
    &:focus {
      @extend %focus;
    }
    &[data-option="size-l"]{
      min-height: 200px;
    }
  }
  //numberのスピンボタン非表示
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance:textfield;
  }
  // -- セレクト
  &--textarea {
    textarea {
      min-height: 240px !important;
    }
  }
  // -- セレクト
  &--select {
    $minWidth: 120px;
    @extend #{$c-input};
    position: relative;
    min-width: $minWidth;
    &:after {
      content: "";
      width: 24px;
      height: 24px;
      background: url(../img/admin/p-input/select.svg);
      background-size: 20px 20px !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 10001;
      transform: translateY(-50%);
      pointer-events: none;
    }
    select {
      @extend %common;
      padding-right: 24px;
      min-width: $minWidth;
      &:focus {
        @extend %focus;
      }
    }
  }
  // -- チェックボックス・ラジオ共通項目
  %commonInput {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  %commonBox {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/admin/p-input/radio.svg);
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
  }
  %commonLabel {
    color: color(form);
    font-size: 13px;
    line-height: 1em;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 12px 0 20px;
    position: relative;
    user-select: none;
    cursor: pointer;
  }
  // -- チェックボックス
  &--checkbox {
    @extend #{$c-input};
    display: flex;
    flex-wrap: wrap;
    width: auto;
    &--column {
      flex-direction: column;
    }
    &__group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    input[type="checkbox"] {
      @extend %commonInput;
      &:checked + label {
        color: color(form--high);
        &:before {
          background: url(../img/admin/p-input/checkbox--checked.svg);
        }
      }
    }
    label {
      @extend %commonLabel;
      &:before {
        @extend %commonBox;
        background: url(../img/admin/p-input/checkbox.svg);
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
    @at-root label.c-input {
      &__approval {
        border: 1px solid color(form);
        padding: 0 24px 0 40px;
        border-radius: 3px;
        &:before {
          left: 4px;
        }
        :checked + & {
          color: color(correct) !important;
          border-color: color(correct);
          background: color(correct) + 44;
          &:before {
            background: url(../img/admin/p-input/checkbox--correct.svg) !important;
            background-size: contain !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;
          }
        }
      }
    }
  }
  // -- ラジオ
  &--radio {
    @extend #{$c-input};
    display: flex;
    flex-wrap: wrap;
    width: auto;
    &__group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    input[type="radio"] {
      @extend %commonInput;
      &:checked + label {
        color: color(form--high);
        &:before {
          background: url(../img/admin/p-input/radio--checked.svg);
        }
      }
    }
    label {
      @extend %commonLabel;
      &:before {
        @extend %commonBox;
        background: url(../img/admin/p-input/radio.svg);
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
    //ラベルタイプに変更
    &--label {
      margin: -2px;
      label {
        margin: 2px;
        border: 1px solid color(line);
        border-radius: 2px;
        padding-left: 24px;
        cursor: pointer;
        &:hover {
          color: color(form--high);
          border-color: color(form--high);
        }
        &:before {
          left: 4px;
          width: 16px;
          height: 16px;
          background: url(../img/admin/p-input/radio.svg);
          background-size: contain !important;
          background-position: center center !important;
          background-repeat: no-repeat !important;
        }
        &:last-of-type {
          padding-right: 12px;
        }
      }
      input[type="radio"] {
        &:checked + label {
          color: #fff;
          border-color: color(form--high);
          background: color(form--high);
          &:before {
            background: url(../img/admin/p-input/radio--checked--white.svg);
          }
          //ラベルのデザインを変更
          &.label--error {
            border-color: color(error);
            background: color(error);
          }
          &.label--correct {
            border-color: color(correct);
            background: color(correct);
          }
        }
      }
    }
  }
  // ファイルアップロード
  &--file {
    @extend #{$c-input};
    display: flex;
    flex-direction: column;
    position: relative;
    input[type="file"]{
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    label {
      border: 1px solid color(formLine);
      border-radius: 3px;
      cursor: pointer;
      position: relative;
      &:after {
        content: "アップロード";
        @extend %c-text__lv5;
        @extend %c-text__weight--700;
        font-size: 11px !important;
        color: #fff !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: peachpuff;
        transition: all 0.2s ease;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:hover {
        &:after {
          background: rgb(252, 223, 190);
        }
      }
    }
    .c-button--remove {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
  // 日付
  &--date,
  &--time {
    input[type="date"],
    input[type="time"], {
      width: 100px;
      position: relative;
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
  //大きく
  &--large {
    input {
      font-size: 16px;
    }
  }
  //単位
  &--unit {
    padding: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  //エラ表示
  &--error {
    &:before {
      color: color(error) !important;
    }
    input,
    select,
    textarea {
      border-color: color(error);
      &::-webkit-input-placeholder { color: rgba(map-get($colors, error), 50%);}
      &:-ms-input-placeholder { color: color(error) !important;}
      &::-moz-placeholder { color: color(error) !important;}

    }
  }
  &--full {
    @extend #{$c-input};
    width: 100%;
    input,
    textarea {
      width: 100%;
    }
  }
  &--width160 {
    min-width: 160px;
  }
}

