@charset "UTF-8";
/* ! ==================================================

- イメージ[サムネイル、アイキャッチなど]

================================================== */
/* ! --------------------------------------------------

- イメージ

-------------------------------------------------- */
.c-image {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
  }
  &--standard {
    &:before {
      padding-top: 75%;
    }
  }
  &--wide {
    &:before {
      padding-top: 56.25%;
    }
  }
  &--round {
    border-radius: 50%;
  }
  // ベーシックアイコン--通知
  &--notification {
    @extend .c-image;
    background: url(../img/admin/icon/notification--outline.svg);
    &:hover {
      background: url(../img/admin/icon/notification--fill.svg);    
    }
  }
  // _variables.scss 定義
  @each $item in $controlItem {
    &--#{$item} {
      background: url(../img/admin/controlItem/#{$item}--outline.svg);
    }    
  }
  // 在庫区分
  $stock: "shop","headquarter","warehouse","rental","repair","block";
  @each $type in $stock {
    &--stock__#{$type} {
      background: color(stock__#{$type}) url(../img/admin/stock/stock__#{$type}--white.svg);
      background-size: 72% 72% !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
    }    
  }
}
