@charset "UTF-8";
/* ! ==================================================

- ボタン

================================================== */
/* ! --------------------------------------------------

- ボタン

-------------------------------------------------- */
%c-numberCommon {
  line-height: 1em;
  letter-spacing: 0em;
  font-weight: 900;
}
.c-number,
%c-number {
  &__lv1 {
    @extend %c-numberCommon;
    font-size: 48px;
  }
  &__lv2 {
    @extend %c-numberCommon;
    font-size: 32px;
  }
  &__lv3 {
    @extend %c-numberCommon;
    font-size: 24px;
  }
  &__lv4 {
    @extend %c-numberCommon;
    font-size: 20px;
  }
  &__lv5 {
    @extend %c-numberCommon;
    font-size: 16px;
    color: floralwhite;
  }
  &__lv6 {
    @extend %c-numberCommon;
    font-size: 14px;
  }
  &__lv7 {
    @extend %c-numberCommon;
    font-size: 12px;
  }
}
