@charset "UTF-8";
/* ! --------------------------------------------------

- 会員プラン表示

-------------------------------------------------- */
.c-plan {
  display: flex;
  align-items: center;
  padding: 0 0 0 4px;
  height: 16px;
  border-left: 4px solid transparent;
  position: relative;
  &:before {
    content: "";
    @extend %c-text__lv5;
    @extend %c-text__weight--700;
    line-height: 1em;

  }
  &:after {
    content: "";
    @extend %c-text__note;
    display:inline-block;
    margin: 0 0 0 4px;
  }
  $planList: (
    'green':'グリーン',
    'sapphire':'サファイア',
    'emerald':'エメラルド',
    'pink':'ピンク',
    'ruby':'ルビー',
    'gold':'ゴールド',
    'crystal':'クリスタル',
    'diamond':'ダイアモンド',
    'white':'ホワイト',
    'black':'ブラック',
  );
  $planAbbreviation: (
    'green':'Gn',
    'sapphire':'Sp',
    'emerald':'Em',
    'pink':'Pk',
    'ruby':'Rb',
    'gold':'G',
    'crystal':'Cr',
    'diamond':'Di',
    'white':'Wt',
    'black':'Bk',
  ); 
  @each $key,$val in $planList {
    &--#{$key} {
      border-color: color(plan--#{$key});
      &:before {
        content: map-get($planAbbreviation,#{$key});
      }
      &:after {
        content: "#{$val}";
      }
    }
  }
  
  
/*
  'plan--green': #7ABF73,
  'plan--sapphire': #5775C7,
  'plan--emerald': #51B5AE,
  'plan--pink': #f198da,
  'plan--ruby': #C45275,
  'plan--gold': #EBB254,
  'plan--crystal': #91C1C3,
  'plan--diamond': #80B0C3,
  'plan--white': #798BBC,
  'plan--whiteBackground': #EAEDF5,
  'plan--black': #555555,
*/
  
  
  span { 
    @extend %c-text__note;
    display:inline-block;
    margin: 0 0 0 4px;
  }
}