@charset "UTF-8";
/* ! --------------------------------------------------

- ステータス

-------------------------------------------------- */
.c-status {
  @extend %c-text__lv6;
  padding: 0 0 0 18px;
  position: relative;
  &:before {
    content: "";
    width: 14px;
    height: 14px; 
    border-radius: 100px;
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  $statusList: (
    'correct':'check--white',
    'stay':'dot--white',
    'alert':'exclamation--white',
    'done':'hyphen--white',
    'checked':'check--white',
    'log':'log--white'
  );
  @each $key,$val in $statusList {
    &--#{$key} {
      color: color(status--#{$key});
      &:before {
        background: color(status--#{$key}) url(../img/admin/c-status/#{$val}.svg);
      }
    }
  }
  &--checked {
    &:before {
      border-radius: 3px;
    }
  }
  &--small {
    font-size: 11px;
    padding: 0 0 0 14px;
    &:before {
      width: 10px;
      height: 10px;
    }
  }
}