@charset "UTF-8";
/* ! --------------------------------------------------

- 勤怠承認確認

-------------------------------------------------- */
.p-attendanceApproval {
  &__list {
    border-top: 1px solid color(background);
    > li {
      padding: 24px 0;
      border-bottom: 1px solid color(background);
    }
  }
  &__item {
    display: flex;
    &__head {
      flex: 0 0 180px;
    }
    &__body {
      flex: auto;
      min-width: 0;
      display: flex;
      align-items: flex-start;
    }
    &__result {
      flex: 0 0 320px;
      margin: 0 24px 0 0;
    }
    &__log {
      flex: auto;
      min-width: 0;
      margin: 0 24px 0 0;
    }
    &__action {
      flex: 0 0 100px;
      margin: 0 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-self: flex-end;
      .c-button {
        width: 100%;
      }
      .c-input {
        margin-top: 8px;
        &__approval {
          width: 100%;
        }
      }
    }
  }
}
