@charset "UTF-8";
/* ! --------------------------------------------------

- ボタンラップ

-------------------------------------------------- */
.p-buttonWrap {
  display: flex;
  position: relative;
  z-index: 0;
  margin: -2px;
  &--right {
    justify-content: flex-end;
  }
  &--center {
    justify-content: center;
  }
  &--auto {
    flex: auto;
    min-width: 0;
  }
  &--full {
    width: 100%;
  }
  > * {
    margin: 2px;
  }
}