@charset "UTF-8";
/* ! --------------------------------------------------

- アイコンとボタン

-------------------------------------------------- */
.p-button {
  display:inline-block;
  position: relative;
  .c-image {
    width: 32px;
    background-size: 24px 24px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .c-button {
    color: color(form);
    padding-left: 40px;
  }
  //各アイコンの指定
  // --追加   
  &--add {
    .c-image {
      background: url(../img/admin/c-button/add--filled.svg);
      background-size: 20px 20px !important;
    }
    &:hover {
      .c-image {
        background: url(../img/admin/c-button/add--filled--active.svg);
      }
      .c-button {      
        color: color(form--high);
      }
    }
  }
  // --削除   
  &--delete {
    .c-image {
      background: url(../img/admin/c-button/delete--filled.svg);
    }
    &:hover {
      .c-image {
        background: url(../img/admin/c-button/delete--filled--active.svg);
      }
      .c-button {      
        color: color(form--high);
      }
    }
  }
  // --閉じる 
  &--close {
    .c-image {
      background: url(../img/admin/c-button/close.svg);
      background-size: 16px 16px !important;
    }
    &:hover {
      .c-image {
        background: url(../img/admin/c-button/close--active.svg);
        background-size: 16px 16px !important;
      }
      .c-button {      
        color: color(form--high);
      }
    }
    .c-button {
      padding-left: 32px;
    }
  }
  // --戻る 
  &--prev {
    .c-image {
      background: url(../img/admin/c-button/prev.svg);
      background-size: 16px 16px !important;
    }
    &:hover {
      .c-image {
        background: url(../img/admin/c-button/prev--active.svg);
        background-size: 16px 16px !important;
      }
      .c-button {      
        color: color(form--high);
      }
    }
    .c-button {
      padding-left: 32px;
    }
  }
  // --承認 
  &--correct {
    .c-image {
      background: url(../img/admin/c-button/correct--white.svg);
      background-size: 16px 16px !important;
    }
    .c-button {
      color: #fff;
      background: color(status--correct);
    }
    &:hover {
      .c-button {
        background: desaturate(darken(map-get($colors,status--correct), 10%), 10%);
      }
    }
    .c-button {
      padding-left: 32px;
    }
  }
  // --非承認 
  &--incorrect {
    .c-image {
      background: url(../img/admin/c-button/incorrect--white.svg);
      background-size: 16px 16px !important;
    }
    .c-button {
      color: #fff;
      background: color(status--incorrect);
    }
    &:hover {
      .c-button {
        background: desaturate(darken(map-get($colors,status--incorrect), 10%), 10%);
      }
    }
    .c-button {
      padding-left: 32px;
    }
  }
  // --次へ
  &--next {
    .c-image {
      background: url(../img/admin/c-button/next.svg);
      background-size: 16px 16px !important;
    }
    &:hover {
      .c-image {
        background: url(../img/admin/c-button/next--active.svg);
        background-size: 16px 16px !important;
        left: auto;
        right: 0;
      }
      .c-button {      
        color: color(form--high);
      }
    }
    .c-button {
      padding-left: 0;
      padding-right: 32px;
    }
  }
  // --csv 
  &--csv {
    .c-image {
      background: url(../img/admin/c-button/csv.svg);
      background-size: 20px 20px !important;
    }
    .c-button {
      color: color(csv);
      border-color: color(csv);
    }
    &:hover {
      .c-image {
        background: url(../img/admin/c-button/csv--white.svg);
        background-size: 20px 20px !important;
      }
      .c-button {      
        color: #fff;
        background: color(csv);
      }
    }
  }
}