@charset "UTF-8";
/* ! --------------------------------------------------

- 一括処理

-------------------------------------------------- */
.p-batchAction {
  width: calc((100% - 184px));
  border-top: 1px solid color(line);
  padding: 24px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 184px;
  opacity: 0;
  pointer-events: none;
  &.is-active__batchAction--show {
    opacity: 1;
    pointer-events: all;
  }
}
