@charset "UTF-8";
/* ! --------------------------------------------------

- データリスト

-------------------------------------------------- */
.p-dataList {
  &__head {
    @extend %c-text__lv7;
    border-bottom: 1px solid color(second);
    padding: 0 0 4px;
    margin: 0 0 16px;
  }
  &__list {
    > li {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      border-bottom: 1px dashed color(background);
      margin: 8px 0 4px;
      &:last-of-type{
        border: none;
      } 
    }
    &__divider {
      border-bottom: 1px solid color(background) !important;
    }
    &__dividerBold {
      border-bottom: 1px solid color(second) !important;
    }
    &__label {
      @extend %c-text__lv7;
      color: color(base);
      font-weight: 400;
      flex: auto;
      min-width: 0;
    }
    &__data {
      flex: none;
    }
  }
  &__item {
    @extend %c-number__lv7;
    &--total {
      font-size: 18px;
      font-weight: 700;
    }
  }
}