@charset "UTF-8";
/* ! --------------------------------------------------

- ダッシュボード

-------------------------------------------------- */
.p-dashboard {
  width: 100%;
  .p-boxDetail__head {
    border-bottom: none;  
  }
  .p-boxDetail__body {
    /* ! カウント表示 ------------------------- */
    > .p-list {
      margin: -16px 0 24px;
    }
  }
  
  /* ! グラフ ------------------------- */
  &__graph {
    > canvas {
      height: 160px !important;
    }
  }
}