@charset "UTF-8";
/* ! ==================================================

- フッター

================================================== */
/* ! --------------------------------------------------

- フッター

-------------------------------------------------- */
.p-footer {
//   background: map-get($colors,background);
  padding: 10px;
  &__info {
    display: flex;
    justify-content: center;
    padding: 4px;
    &__copyright {
      font-size: 11px;
      color: map-get($colors,third);
    }
  }
}
