@charset "UTF-8";
/* ! --------------------------------------------------

- どこからどこまで

-------------------------------------------------- */
.p-fromTo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .from,
  .to {
  }
  .arrow {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/admin/p-fromTo/arrow.svg);
    background-size: 16px 16px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    margin: 0 4px;
  }
}