@charset "UTF-8";
/* ! --------------------------------------------------

- フォームエラー

-------------------------------------------------- */
.p-formError {
  margin: 4px 0 16px;
  width: 100%;
  padding: 4px 16px;
  background: rgba(map-get($colors, error), 15%);
  border-radius: 2px;
  .message {
    @extend %c-text__note;
    @extend %c-text__weight--700;
    color: color(error);
    padding: 0 0 0 8px;
    width: 100%;
    position: relative;
    &:before {
      content: "";
      display: block;
      background: color(error);
      width: 4px;
      height: 4px;
      border-radius: 100px;
      position: absolute;
      top: .68em;
      left: 0;
      transform: translateY(-50%);
    }
  }
}