@charset "UTF-8";
/* ! --------------------------------------------------

- 商品リスト

-------------------------------------------------- */
.p-itemList {
  display: flex;
  flex-direction: column;
  > li {
    + li {
      margin: 4px 0 0;
    }
  }
  &__item {
    display: flex;
    border-bottom: 1px solid color(background);
    padding: 0 0 4px;
    &__image {
      width: 40px;
      margin: 0 8px 0 0;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title {
        @extend %c-text__lv5;
      }
      .sub {
        @extend %c-text__note;
      }
    }
  }
}