@charset "UTF-8";
/* ! --------------------------------------------------

- フォーム

-------------------------------------------------- */
.p-input {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -10px -2px -2px;
        > li {
            width: 100%;
            padding: 2px;
            position: relative;
            margin: 6px 0 0;
            &.auto {
                width: auto;
                flex: auto; //崩れあれば外す
                min-width: 0;
            }
            &.split__2 {
                width: 50%;
            }
            &.split__3 {
                width: 33.3333%;
            }
            &.split__3__2 {
                width: 66.6666%;
            }
            &.split__4 {
                width: 25%;
            }
            .c-button--remove {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        small {
            @extend %c-text__note;
            color: color(third);
        }
        .c-input {
            position: relative;
            //見出し
            &[data-title] {
                &:before {
                    content: attr(data-title) "";
                    @extend %c-text__note;
                    color: color(second);
                    position: absolute;
                    top: 8px;
                    left: 12px;
                    z-index: 1;
                }
            }
            .c-input__float {
                font-size: 13px;
                position: absolute;
                top: 26px;
                left: 16px;
            }
            input,
            select {
                height: 56px;
                padding: 24px 12px 8px;
            }
            &--horizontal {
                input,
                select {
                    height: 40px;
                    padding: 8px 8px 8px 104px;
                    text-align: right;
                }
            }
            &--horizontalAuto {
                input,
                select {
                    height: 40px;
                    padding: 8px;
                    text-align: right;
                }
            }
            &--horizontalMin {
                input,
                select {
                    height: 32px;
                    padding: 8px 8px 8px 104px;
                    text-align: right;
                }
            }
            &--right {
                input {
                    text-align: right;
                }
            }
            &--select {
                &:after {
                    right: 4px;
                }
                select {
                    padding-right: 24px;
                }
            }
            &--radio {
                //         margin: 2px 0 0; //性別表示
            }
            textarea {
                min-height: 120px;
                padding: 28px 16px 8px;
                line-height: 1.8em;
                &.half {
                    min-height: 80px;
                }
            }
            //ディスエイブルド
            &--disabled {
                input,
                select {
                    color: map-get($colors, second);
                    border-color: map-get($colors, line);
                    background: map-get($colors, background);
                    pointer-events: none;
                }
                &:after {
                    //selectの矢印を非表示
                    content: none;
                }
            }
            &--required {
                &:after {
                    content: "";
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 100px;
                    background: map-get($colors, error);
                    position: absolute;
                    top: 4px;
                    left: 4px;
                }
            }
        }
        //チェックボックス・ラジオ
        .c-input--checkbox,
        .c-input--radio {
            height: 56px;
            padding: 24px 16px 8px;
            border: 1px solid color(formLine);
            border-radius: 3px;
            &.c-input--right {
                justify-content: flex-end;
            }
        }
        .c-input--file {
            padding: 32px 16px 16px;
            border: 1px solid color(formLine);
            border-radius: 3px;
        }
        //タイトルを入れる場合
        &__title {
            @extend %c-text__lv5;
            margin: 24px 0 0;
            .p-input__list > li:first-of-type & {
                margin: 0;
            }
        }
        //横にレイアウトを組む場合
        &__layout {
            display: flex;
            margin: -2px;
            > * {
                margin: 2px;
            }
        }
    }
}
