@charset "UTF-8";
/* ! --------------------------------------------------

- リスト

-------------------------------------------------- */
.p-list {
  display: flex;
  flex-direction: column;
  > li {
    + li {
      margin: 12px 0 0;
    }
  }
  //2分割
  &--split2 {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -8px;
    > li {
      width: 50%;
      padding: 8px;
      + li {
        margin: 0;
      }
    }
    .p-list__full {
      width: 100%;
    }
  }
  &__item {
    &--column {
      flex-wrap: wrap;
      > * {
        flex: 0 0 100% !important;
      }
    }
  }
  &__label {
    color: color(second);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.45455em;
    letter-spacing: 0;
    display: inline-block;
    margin: 0 0 4px;
    &--required {
      padding: 0 0 0 12px;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 100px;
        background: #F75769;
        position: absolute;
        top: .7em;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__data {
    font-size: 13px;
    color: color(base);
    &__scroll {
      max-height: 100px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 2px;
      	background: #F2F4F7;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
      	background: #0A2372;
      }
    }
  }
  &__line {
    border-top: 1px solid map-get($colors,line);
  }
  > [data-href],
  > [data-remodal-target] { //liに付与でリンク形式に
    padding: 8px 16px 8px 8px;
    border: 1px solid color(form);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url(../img/admin/c-button/next.svg);
      background-size: 12px 12px !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:hover {
      background: color(background);
    }
  }
  //横並び
  &--row {
    > li {
      display: flex;
      + li {
        margin: 8px 0 0;
      }
      .p-list {
        &__item {
          &--center {
            align-items: center;
          }
        }
        &__label {
          flex: 0 0 80px;
          margin: 0;
        }
        &__data {
          flex: auto;
          min-width: 0;
        }
      }
    }
  }
  //横並び
  &--rowNarrow {
    > li {
      display: flex;
      + li {
        margin: 8px 0 0;
      }
    }
    .p-list__label {
      flex: 0 0 40px;
          margin: 0;
    }
  }
  &--rowWide {
    > li {
      display: flex;
      + li {
        margin: 8px 0 0;
      }
    }
    .p-list__label {
      flex: 0 0 100px;
          margin: 0;
    }
  }
  //縦並び
  @include mq(pc){
    &--column--pc {
      > li {
        flex-direction: column;
        > * {
          flex: !important;
        }
      }
    }
  }
  @include mq(note){
    &--column--note {
      > li {
        flex-direction: column;
        > * {
          flex: none !important;
        }
      }
    }
  }
  //左右に配置
  &--split {
    > li {
      display: flex;
      flex-wrap: wrap;
    }
    .p-list__label {
      flex: none;
      margin: 0 auto 0 0;
    }
    .p-list__data {
      flex: none;
      margin: 0 0 0 auto;
      text-align: right;
    }
  }
  //線あり
  &--line {
    > li {
      padding: 8px 0 2px;
      border-bottom: 1px solid color(line);
      + li {
        margin: 0;
      }
    }
  }
}