@charset "UTF-8";
/* ! ==================================================

- リスト

================================================== */
/* ! --------------------------------------------------

- リスト

-------------------------------------------------- */
.p-machineCount {
  display: flex;
  align-items: flex-start;
  &__all {
    display: flex;
    align-items: center;
    flex: none;
    padding: 0 16px 0 0;
    margin: 0 16px 0 0;
    border-right: 1px solid map-get($colors,line);
    .label {
      margin: 0 16px 0 0;
    }
    .c-image {
      background: map-get($colors,form) url(../img/admin/controlItem/machine--fill--white.svg);
      background-size: 20px 20px !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      border-radius: 8px;
    }
  }
  &__detail {
    flex: auto;
    min-width: 0;    
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    &__item {
      display: flex;
      align-items: center;
//       width: 100px;
      flex: none;
      padding: 8px;
      &--auto {
        width: auto;
      }
      .p-user {
        width: 100%;
        &__image {
          width: 24px;  
          .c-image {
            border-radius: 8px; 
          }
        }
        &__text {
          flex: auto;
          min-width: 0;
        }
      }
    }
  }
}