@charset "UTF-8";
/* ! --------------------------------------------------

- メモ

-------------------------------------------------- */
.p-memo {
  margin: -1px;
  .c-input--textarea {
    width: 100%;
    textarea {
      min-height: 400px;
      border-radius: 0;
    }
  }
}