@charset "UTF-8";
/* ! --------------------------------------------------

- 写真リスト

-------------------------------------------------- */
.p-photoList {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;
    > li {
      width: 33.3333%;
      padding: 2px;
      .c-image {
        width: 100%;
      }
    }
    &--split2 {
      > li {
        width: 50%;
      }
    }
    &--split3 {
      > li {
        width: 33.3333%;
      }
    }
    .c-button--square {
      width: 100%;
      height: auto;
      background: url(../img/admin/c-button/add.svg);
      background-size: 24px 24px !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%;
      }
      &:hover {
        background: url(../img/admin/c-button/add--active.svg);
        border-color: color(accent);
      }
    }
  }
}