@charset "UTF-8";
/* ! --------------------------------------------------

- ボックス

-------------------------------------------------- */
.p-photoSwipe {
  figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      background: rgba(0,0,0,0.5) url(../img/admin/p-photoSwipe/zoom--white.svg);
      background-size: 20px 20px !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      position: absolute;
      bottom: 4px;
      right: 4px;
      transition: all 0.1s ease;
      pointer-events: none;
    }
    &:hover {
      &:before {
        background: color(form--high) + aa url(../img/admin/p-photoSwipe/zoom--white.svg);  
      }
    }
    img {
      height: 0;
      width: 0;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      pointer-events: none;
    }
    .c-image {
      border-radius: 3px;
      border: 1px solid color(line);
    }
  }
}