@charset "UTF-8";
/* ! ==================================================

- ぺージネーション

================================================== */
/* ! --------------------------------------------------

- ぺージネーション

-------------------------------------------------- */
.p-pagination {
  display: flex;
  // ボディ
  form {
    width: 100%;
  }
  &__body {
    margin: 0 8px;
    display: flex;
    align-items: center;
    .c-input {
      width: 56px;
      input {
        height: 24px;
        text-align: center;      
      }
    }
    //分母
    &__parameter {
      font-size: 12px;
      margin: 0 0 0 8px;
    }
  }
  // コントロール
  &__control {
    &__button {
      display: block;
      width: 32px;
      height: 32px;
      background-size: 16px 16px !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      cursor: pointer;
      $button: #{&};
      &--prev {
        @extend #{$button};
        background: url(../img/admin/p-pagination/prev.svg);
      }
      &--next {
        @extend #{$button};
        background: url(../img/admin/p-pagination/next.svg);
      }
    }
  }
}