@charset "UTF-8";
/* ! --------------------------------------------------

- 日付選択

-------------------------------------------------- */
.p-selectDate {
  input {
    border: none;
    @extend %c-text__lv4;
    max-width: 100px;
    width: 100%;
  }
  .c-button--line {
    background: #fff;
  }
  &__date {
    background: #fff;
    display: flex;
    align-items: center;
    height: 32px;
    margin: 2px;
    padding: 0 12px 0 40px;
    border: 1px solid color(form);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url(../img/admin/p-selectData/calendar.svg);
      background-size: contain !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      z-index: 1;
    }
    &:hover {
      border-color: color(form--high);
      p,
      p:after {
        color: color(form--high);
      }
    }
    $unitList: ('year':'年','month':'月','day':'日');
    @each $key,$val in $unitList {
      &__#{$key} {
        @extend %c-number__lv4;
        &:after {
          content: "#{$val}";
          @extend %c-text__lv6;
          display:inline-block;
          margin: 0 .4em 0 .2em;
        }
      }
    }
    .c-button--remove {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(56% , -56%);
    }
    &--hide {
      padding: 0 8px 0 32px;
      > * {
        display: none;
      }
    }
    &__dow {
      margin: 0 0 0 8px;
    }
  }
  &__unit {
    @extend %c-text__lv5;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 2px;
  }
}
