@charset "UTF-8";
/* ! --------------------------------------------------

- サマリー[SUM]リスト

-------------------------------------------------- */
.p-summary {
  &__list {
    width: 100%;
    > li {
      display: flex;
      align-items: center;
      padding: 6px 0 2px;
      &:first-of-type {
        padding-top: 0;
      }
      + li {
        border-top: 1px solid color(background);
      }
    }
    &__divider {
      border-top-color: color(form) !important;
    }
    &__label {
      @extend %c-text__note;
      line-height: 1em;
    }
    &__data {
      text-align: right;
      margin: 0 0 0 auto;
      &__total {
        @extend %c-text__lv5;
        @extend %c-text__weight--700;
        line-height: 1em;
      }
      &__unit {
        font-size: 12px;
      }
    }
  }
}