@charset "UTF-8";
/* ! --------------------------------------------------

- サイドバー

-------------------------------------------------- */

// 一時的フェーズの表示]
.phase--2 a,
.phase--3 a {
  opacity: 0.4;
  pointer-events: none;
}

// 一時的フェーズの表示
.p-sidebar {
  width: 100%;
  position: relative;
  z-index: 3;
  &__nav {
    height: 100%;
    border-right: 1px solid map-get($colors, line);
    &__list {
      height: 100%;
      background: currentColor;
      > .divider {
        border-top: 1px solid color(background);
      }
    }
  }
  &__item {
    position: relative;
    &__notification {
      color: #fff;
      font-size: 10px;
      font-weight: 700;
      line-height: 1em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 14px;
      min-width: 14px;
      padding: 0 4px;
      background: color(error);
      border-radius: 100px;
      position: absolute;
      top: 6px;
      left: 36px;
      z-index: 1;
    }
    &__button {
      color: map-get($colors, form);
      font-size: 13px;
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0 0 0 16px;
      border-left: 4px solid transparent;
      .c-image {
        width: 24px;
        margin: 0 8px 0 0;
      }
      // 限定遷移
      &.not_link {
      }
      // ホバー表示
      &:hover {
        color: map-get($colors, main);
        background: map-get($colors, background);
        // _v-controlItem.scss 定義
        @each $item in $controlItem {
          .c-image--#{$item} {
            background: url(../img/admin/controlItem/#{$item}--outline--color.svg);
          }
        }
      }
      // カレント表示
      &.is-current {
        color: map-get($colors, main);
        border-color: tomato;
        // _v-controlItem.scss 定義
        @each $item in $controlItem {
          .c-image--#{$item} {
            background: url(../img/admin/controlItem/#{$item}--fill--color.svg);
          }
        }
      }
    }
  }
  &__megaMenu {
    background-color: #fff;
    padding: 16px;
    width: 240px;
    background: #fff;
    border: 1px solid map-get($colors, line);
    transition: all 0.2s ease;
    transform: translate(0%, 0);
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    /*
    pointer-events: none;
    transform: translate(100%,0);
*/
    &.view {
      transform: translate(100%, 0);
      pointer-events: all;
    }
    &__item {
      & + & {
        margin: 16px 0 0;
        padding: 16px 0 0;
        border-top: solid 1px map-get($colors, line);
      }
      &__title {
        @extend %c-text__lv6;
        display: flex;
        align-items: center;
        margin: 0 0 16px;
        .c-image {
          flex: 0 0 24px;
          width: 24px;
          margin: 0 8px 0 0;
        }
      }
      &__linkList {
        > li {
          + li {
            margin: 8px 0 0;
          }
          a {
            display: block;
            color: map-get($colors, form);
            &:hover {
              color: map-get($colors, main);
            }
          }
        }
      }
      &__actionList {
        > li {
          + li {
            margin: 4px 0 0;
          }
        }
        .c-button {
          width: 100%;
        }
      }
    }
  }
}
