@charset "UTF-8";
/* ! --------------------------------------------------

- スクロール

-------------------------------------------------- */
.p-scroll {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
  	background: #F2F4F7;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
  	background: #0A2372;
  }
  &__inner {
    min-width: 1000px;
  }
}