@charset "UTF-8";
/* ! --------------------------------------------------

- テキストを並べる

-------------------------------------------------- */
.p-text {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: -4px;
  > * {
    display: block;
    margin: 4px;
  }
  &--narrow {
    margin: -2px; 
    > * {
      margin: 2px;
    } 
  }
  &--wide {
    margin: -8px; 
    > * {
      margin: 8px;
    } 
  }
  &--right {
    justify-content: flex-end;
  }
}