@charset "UTF-8";

/* ! Frame Work Style ----------------------------------------------------------------------------------------------------

　■ ページレイアウト（サイドバー・メイン）
　■ メインレイアウト
　■ ページレイアウト
　■ フレームワークレイアウト

　■ 基本エリア

---------------------------------------------------------------------------------------------------- */
/* ! ====================================================================================================
　■ ページレイアウト（サイドバー・メイン）
==================================================================================================== */
.l_page {
  display: flex;
}
.l_page > .l_sidebar {
  flex: 0 0 160px;
}
.l_page > .l_main {
  flex: auto;
  min-width: 1px;
  display: flex;
  flex-direction: column;
}

/* ! レイアウトサイドバー ============================== */
.l_sidebar {
  display: flex;
  flex-direction: column;
  background: var(--color_bg_sidebar);
}

/* ! min —————————— */
.l_page > .sidebar_min {
  flex: 0 0 50px;
}


/* ! ====================================================================================================
　■ メインレイアウト
==================================================================================================== */
.head_main {
  margin: 0 0 20px;
}
.body_main {
}
.body_main + .body_main {
  margin: 20px 0 0;
}
.foot_main {
  margin: 20px 0 0;
}


/* ! ====================================================================================================
　■ ページレイアウト
==================================================================================================== */
.area_page {
}
.head_page {
  margin: 0 0 30px;
}


/* ! ====================================================================================================
　■ フレームワークレイアウト
==================================================================================================== */
.l {
  display: flex;
  /*flex-wrap: wrap;*/
  margin: -5px;
  flex: 1 1 auto;
}
.l.nowrap{ flex-wrap: nowrap;}
.l + .l {
  margin-top: 5px;
}
.l > * {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.l_2 {
  flex: 0 0 16.6666%;
  width: 16.6666%;
}
.l_3 {
  flex: 0 0 25%;
  width: 25%;
}
.l_4 {
  flex: 0 0 33.3333%;
  width: 33.3333%;
}
.l_6 {
  flex: 0 0 50%;
  width: 50%;
}
.l_8 {
  flex: 0 0 66.6666%;
  width: 66.6666%;
}
.l_9 {
  flex: 0 0 75%;
  width: 75%;
}
.l_10 {
  flex: 0 0 83.3333%;
  width: 83.3333%;
}
.l_12 {
  flex: 0 0 100%;
  width: 100%;
}
.l_fix {
  flex: 0 0 200px;
}
.l_fix_300 {
  flex: 0 0 300px;
}
.l_auto {
  flex: 1 1 auto;
  min-width: 1px;
}

.l_fix_520 { flex: 0 0 520px;}
.l_fix_340 { flex: 0 0 340px;}

@media screen and (max-width: 1366px){
  .l_2_l {
    flex: 0 0 16.6666%;
    width: 16.6666%;
  }
  .l_3_l {
    flex: 0 0 25%;
    width: 25%;
  }
  .l_4_l {
    flex: 0 0 33.3333%;
    width: 33.3333%;
  }
  .l_6_l {
    flex: 0 0 50%;
    width: 50%;
  }
  .l_8_l {
    flex: 0 0 66.6666%;
    width: 66.6666%;
  }
  .l_9_l {
    flex: 0 0 75%;
    width: 75%;
  }
  .l_10_l {
    flex: 0 0 83.3333%;
    width: 83.3333%;
  }
  .l_12_l {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1280px){
  .l_2_m {
    flex: 0 0 16.6666%;
    width: 16.6666%;
  }
  .l_3_m {
    flex: 0 0 25%;
    width: 25%;
  }
  .l_4_m {
    flex: 0 0 33.3333%;
    width: 33.3333%;
  }
  .l_6_m {
    flex: 0 0 50%;
    width: 50%;
  }
  .l_8_m {
    flex: 0 0 66.6666%;
    width: 66.6666%;
  }
  .l_9_m {
    flex: 0 0 75%;
    width: 75%;
  }
  .l_10_m {
    flex: 0 0 83.3333%;
    width: 83.3333%;
  }
  .l_12_m {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1080px){
  .l_2_s {
    flex: 0 0 16.6666%;
    width: 16.6666%;
  }
  .l_3_s {
    flex: 0 0 25%;
    width: 25%;
  }
  .l_4_s {
    flex: 0 0 33.3333%;
    width: 33.3333%;
  }
  .l_6_s {
    flex: 0 0 50%;
    width: 50%;
  }
  .l_8_s {
    flex: 0 0 66.6666%;
    width: 66.6666%;
  }
  .l_9_s {
    flex: 0 0 75%;
    width: 75%;
  }
  .l_10_s {
    flex: 0 0 83.3333%;
    width: 83.3333%;
  }
  .l_12_s {
    flex: 0 0 100%;
    width: 100%;
  }
}

/* ! マージンあり　隙間 ============================== */
.l .l_6.gap {
	margin: 0 15px 0 0;
}
.l .l_4.gap {
	margin: 0 15px 0 0;
}




/* ! ====================================================================================================
　■ 基本エリア
==================================================================================================== */
/* ! タイトル ============================== */
.area_ttl {
  display: flex;
  align-items: center;
}
.area_ttl > [class*="btnarea"] {
  margin-left: auto;
}


