@charset "UTF-8";
/* ! ==================================================

- ボディ

================================================== */
/* ! --------------------------------------------------

- ボディ

-------------------------------------------------- */
.l-body {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  flex: auto;
  min-width: 0;
  position: relative;
}
