@charset "UTF-8";
/* ! ==================================================

- ボックスの並び[管理画面のみ]

================================================== */
/* ! --------------------------------------------------

- ボックスの並び

-------------------------------------------------- */
.l-box {
  display: flex;
  $gap: 8px;
  margin: -$gap;
  flex: auto;
  min-width: 0;
  &--wrap {
    flex-wrap: wrap;
  }
  &--start {
    align-items: flex-start;
  }
  &__main {
    display: flex;
    padding: $gap;
    flex: auto;
    min-width: 0;
    &--column {
      flex-direction: column;
    }
  }
  &__sidebar {
    display: flex;
    padding: $gap;
    flex: 0 0 320px;
  }
  &__12 {
    display: flex;
    padding: $gap;
    width: 100%;
  }
  &__8 {
    display: flex;
    padding: $gap;
    width: 66.6666%;
  }
  &__6 {
    display: flex;
    padding: $gap;
    width: 50%;
  }
  &__4 {
    display: flex;
    padding: $gap;
    width: 33.3333%;
  }
}
