@charset "UTF-8";
/* ! ==================================================

- ベースレイアウト

================================================== */
/* ! --------------------------------------------------

- ベースレイアウト[サイドバー、メインを並べるために使用]

-------------------------------------------------- */
.l-base {
  height: calc(100vh - 48px);
  display: flex;
  flex: auto;
  min-width: 0;
  overflow: hidden;
}
