@charset "UTF-8";
/* ! --------------------------------------------------

- コンテナ

-------------------------------------------------- */
.l-container {
  max-width: 1280px;
  width: 100%;
  min-width: 768px;
  padding: 0 40px;
  @include mq(pc){
    padding: 0 16px;
  }
  &--full {
    @extend .l-container;
    max-width: 1440px;
  }
  &--1080 {
    @extend .l-container;
    max-width: 1080px;
    min-width: none;
  }
  &--960 {
    @extend .l-container;
    max-width: 960px;
    min-width: none;
  }
  &--768 {
    @extend .l-container;
    max-width: 768px;
    min-width: none;
  }
}
