@charset "UTF-8";
/* ! --------------------------------------------------

- 編集ページ

-------------------------------------------------- */
.l-edit {
  $headerHeight: 48px;
  width: 100%;
  display: flex;
  position: relative;
  padding: $headerHeight 0 0;
  &__head {
    height: $headerHeight;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid color(line);
    position: fixed;
    z-index: 2;
    top: $headerHeight;
    &__sub {
      flex: 0 0 240px;
      border-right: 1px solid color(line);
      padding: 0 0 0 24px;
    }
    &__main {
      flex: auto;
      min-width: 0;
      padding: 0 24px;
      display: flex;
      align-items: center;
      .p-buttonWrap {
        margin: 0 0 0 auto;
        .p-hideMenu {
          margin: 0 0 0 8px;
          display: flex;
        }
      }
    }
  }
  &__body {
    width: 100%;
    padding: 40px 24px;
    .l-container {
      display: flex;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__main {
    flex: auto;
    min-width: 0;
    margin: 0 auto;
    padding: 0 0 80px;
  }
  &__sidebar {
    flex: 0 0 280px;
    margin: 0 0 0 64px;
  }
}