@charset "UTF-8";
/* ! --------------------------------------------------

- フッターレイアウト

-------------------------------------------------- */
.l-footer {
  width: 184px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}