@charset "UTF-8";
/* ! --------------------------------------------------

- メイン

-------------------------------------------------- */
.l-main {
  display: flex;
  flex: auto;
  min-width: 0;
  padding: 0 0 64px;
  height: calc(100vh - 48px);
  overflow: auto;
  position: relative;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
  	background: #F2F4F7;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #0A237244;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: #0A2372;
  }
  &--dashboard {
    position: relative;
    background: color(background);
    &:before {
      content: "";
      @extend %c-text__lv2;
      @extend %c-text__weight--700;
      color: #fff !important;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0 0 240px;
      z-index: 1;
      background: ivory;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s ease;
      opacity: 0;
      pointer-events: none;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  &--detail {
    background: map-get($colors,background);
  }
  > form {
    width: 100%;
    display: flex;
    flex: auto;
    min-width: 0;
  }
}
