@charset "UTF-8";
/* ! ==================================================

- レイアウト

================================================== */
/* ! --------------------------------------------------

- レイアウト

-------------------------------------------------- */
.l-sidebar {
  display: flex;
  flex: 0 0 184px;
  height: calc((100vh - 48px));
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: all 0.4s ease;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #f2f4f7;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #0a2372;
  }
  &--detail {
    flex: 0 0 scale(sidebarDetail);
    display: flex;
    @include mq(note) {
      flex: 0 0 scale(sidebarDetail--note);
    }
  }
}
